:root {
    --left-background-color: rgb(16, 25, 59);
    --right-background-color: rgb(15, 23, 55);
    --yellow: rgb(255, 239, 85);
    --green: rgb(35, 163, 10);
    --blue: rgb(26, 90, 243);
    --red: rgb(243, 26, 82);
    --dark-red: rgb(221, 20, 72);
    --orange: rgb(243, 144, 26);
    --dark-orange: rgb(215, 125, 18);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --color: rgb(0, 0, 0);
}


/* Page setup */
* {
    font-family: 'lato', serif;
    color: var(--white)
}

body {
    background-color: var(--left-background-color);
    box-sizing: border-box;
    margin: 0;
    font-size: 1rem;
}

#main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "left-col right-col";
}

#left-column {
    grid-area: left-col;
}

#right-column {
    grid-area: right-col;
    background-color: var(--right-background-color);
    height: 100vh;
}

/* Left-col setup */
#left-column {
    display: grid;
    grid-template-columns: 12% 1fr 10%;
    grid-template-rows: auto;
    grid-template-areas: 
    "logo logo ."
    "counter content ."
    ". cta .";
}

#logo-container {
    grid-area: logo;
    margin: 1rem 0 0 1rem;
}

#counter {
    grid-area: counter;
    margin-top: 6rem;
}

#pic {
    grid-area: pic;
    display: flex;
    justify-content: center;
    margin: 0;
}

.body-text {
    margin-bottom: 1.5rem;
}

#content-container {
    grid-area: content;
    margin: 1rem 0 0 1rem;
}

#cta {
    grid-area: cta;
}

/* Right-col setup */
#right-column {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: auto;
    grid-template-areas: 
    ". menu ."
    ". content-pic .";
}

nav{
    grid-area: menu;
}

#right-content {
    grid-area: content-pic;
}

/* left-col style */
.logo-name {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bolder;
    margin: 0 1.5rem;
}

.t {
    color: #FFEF55
}

.dot {
    color: #23A30A
}

.m {
    color: #1A5AF3
}

.d {
    color: #F31A52
}

.count {
    text-align: center;
    width: .4rem;
    height: .4rem;
    border: 1.8px solid var(--white);
    border-radius: 100%;
    margin: 1.1rem auto;
}

.hc{
    background-color: var(--white);
}

.arrow-down {
    border: 1px solid var(--white);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin: 1.5rem auto;
}

.image {
    width: 7em;
    height: 7rem;
}
 
.main-header {
    font-weight: bolder;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.body-text {
    width: 90%;
    line-height: 1.8rem;
}

#cta {
    display: grid;
    grid-template-columns: 2% 4fr 2fr 2%;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: 
    ". . . ."
    ". input button ."
    ". . . .";
    width: 70%;
    background-color: var(--white);
    border-radius: 2px;
    height: 3.5rem;
    margin-bottom: .7rem;
}

.message-input, .message-input:focus {
    grid-area: input;
    border: none;
    outline: none;
    height: 2.5rem;
    width: 13rem;
    font-size: 1rem;
    color: var(--black)
}

.lets-talk {
    grid-area: button;
    background-color: var(--red);
    border-radius: 2px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.lets-talk:hover {
    background-color: var(--dark-red);
}

.coffee {
    font-size: .8rem;
    cursor: pointer;
}

.coffee-cup {
    width: 3%
}

.download {
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: none;
    height: 2.5rem;
    width: 13rem;
    font-size: 1rem;
    background-color: var(--orange);
}

.download:hover {
    background-color: var(--dark-orange);
}

/* Right-col style */
nav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: ". menu";
}

ul {
    grid-area: menu;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.home:hover {
    color: #FFEF55
}

.about:hover {
    color: #23A30A
}

.work:hover {
    color: #1A5AF3
}

.contact:hover {
    color: #F31A52
}